﻿body {
    background-color: #ffeddf;
    font-family: 'Varela Round', sans-serif;
}

/*section 1: references, links*/
.sect1 {
    background-color: #b3c0a4;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

/*section 2: credits*/
.sect2 {
    background-color: #bcb8b1;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}


h1 {
    text-align: center; 
}

h2 {
    margin-left: 30px;
    margin-right: 30px;
}

p {
    margin-left: 30px;
    margin-right: 30px;
}