
footer {
    color: floralwhite;
    text-align: center;
    padding: 1em;
    font-family: 'Varela Round', sans-serif;
    background-color: #b3c0a4;
    font-size: 15px;
}
.content-wrap {
    max-width:800px;
    margin: 0 auto;
    overflow: auto;
}
.menu_footer
a {
    padding: 10px;
    display: inline-block;
    margin: 10px;
    text-decoration:none;
}

.fa {
    font-size: 500px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}
    .fa:hover {
        opacity: 0.7;
    }
.fa-facebook, .fa-twitter, .fa-google, .fa-linkedin, .fa-instagram {
    color: white;
    font-size: 500px;
}


.useful_links
a {
    padding: 10px;
    display: inline-block;
    margin: 20px;
    text-decoration: none;
}

h2{
    font-size:20px;
}

.box {
    background-color: #9AAB86;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    border-radius: 20px;
}
p {
    font-size: .8em;
}