﻿
/**nav bar colour*/
header {
    height: 230px;
    background-size: cover;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShBZ1oxUioUzU41jmaD-YFAS0b0W3YOQRR4ak2iacWANFgLdN2Aw&s");
    font-family: 'Varela Round', sans-serif;
}

header h2 {
    color: white;
    font-size: 32px;
    margin-top: 50px;
    text-align: center;
    text-shadow: 2px 2px 0px black;
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    background-color: black;
}

.content-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-nav ul li {
    display: flex;
    background-color: black;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.content-nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 14px;
    border-radius: 10px;
    min-width: 100px;
    max-width: 140px;
}

.content-nav {
    text-align: center;
}

.active, .content-nav ul li:hover {
    border-radius: 3px;
    background-color: red;
    border-radius: 10px;
}

.nav .current {
    border-radius: 3px;
    background-color: green;
    border-radius: 10px;
}
