<head>
    <link rel="stylesheet" href="css/footer.css" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<footer>
    
    <div class="box"><h2>Here's useful resources to help you!</h2></div>
    <div class="content-wrap">
        <div class="useful_links">
            <a href="https://www.healthhub.sg/programmes/88/IQuit" target="_blank">iQuit</a>
            <a href="tel:1800-438-2000">Call QuitLine</a>
            <a href="https://www.hpb.gov.sg/workplace/workplace-programmes/smoking-cessation-programmes" 
               target="_blank">Health Promotion Board</a>
            <a href="https://www.myheart.org.sg/healthy-living/smoking-control/" 
               target="_blank">Singapore Heart Foundation</a>
        </div>
    </div>
    <a href="#" target="_blank" class="fa fa-facebook"></a>
    <a href="#" target="_blank" class="fa fa-twitter"></a>
    <a href="#" target="_blank" class="fa fa-instagram"></a>
    <a href="#" target="_blank" class="fa fa-linkedin"></a>
    <a href="#" target="_blank" class="fa fa-google"></a>
        <div class="content-wrap">
            <div class="menu_footer">
                <a href="#" target="_blank">About</a>
                <a href="#" target="_blank">FAQs</a>
                <a href="#" target="_blank">Terms</a>
                <a href="#" target="_blank">Privacy</a>
                <a href="#" target="_blank">Sitemap</a>
            </div>
        <p>All content copyright &copy; 2020, FED T04 Group 3.</p>
        </div>
</footer>
