﻿<head>
    <link rel="stylesheet" href="css/header.css" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<header>
    <nav>
        <div class="container">
            <div class="content-nav">
                <nav>
                    <ul class="nav">
                        <li class="current"><a href="index.html">Home</a></li>
                        <li><a href="#">Consequences</a></li>
                        <li><a href="#">Benefits of Quitting Smoking</a></li>
                        <li><a href="#">How to Stop Smoking</a></li>
                        <li><a href="#">Smoking Control Programmes</a></li>
                        <li><a href="credits.html">Credits</a></li>
                    </ul>
                </nav>

            </div>

        </div>
    </nav>
    <h2>Live a healthy lifestyle today!</h2>
</header>